* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  padding: 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  background: rgb(250, 250, 250);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

article,
main {
  display: grid;
  gap: 1ch;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background: #000000;
  color: white;
}

tbody tr:hover {
  cursor: pointer;
  background: rgba(255, 0, 0, 0.495);
}

td {
  padding: 1ch;
}
